#INFT574-block {
    margin: 5px;
    padding: 0px;
    position: fixed;
    animation: INFT574-block-animation 1.0s ease-in-out 0.0s infinite alternate;
    border-radius: 1px;
}

@keyframes INFT574-block-animation {
    0%   { transform: rotateZ( 0.5deg); }
    100% { transform: rotateZ(-0.5deg); }  
}