#INFT574-board {
    top: 50%;
    left: 50%;
    color:#fff;
    margin: 0px;
    padding: 5px;
    z-index: -1;
    overflow: hidden;
    position: fixed;
    transform: translate(-50%, -50%);
    animation: INFT574-board-animation 5.0s ease-in-out 0.0s infinite alternate;
    box-sizing: content-box;
    transition: all ease-in 0.2s;
    box-shadow: 0px 0px 8px #000;
    border-radius: 5px;
    background-color: #000;
}

@keyframes INFT574-board-animation {
    0%   { transform: translate(-50%, -50%) rotateZ( 0.03deg); }
    100% { transform: translate(-50%, -50%) rotateZ(-0.03deg); }  
}