#INFT574-game-message-input {
    height: 24px;
    display: flex;
    flex-direction: row;
}

#INFT574-game-message-input > * {
    margin: 0px;
    padding: 0px;
}

#INFT574-game-message-input > input {
    border: none;
    padding: 8px;
    outline: none;
    flex-grow: 1;
    box-shadow: 1px 1px 4px 0px #000;
}

#INFT574-game-message-input > button {
    display: none;
}