#INFT574-game-message-input {
    height: 24px;
    display: flex;
    flex-direction: row;
}

#INFT574-game-message-input > * {
    margin: 0px;
    padding: 0px;
}

#INFT574-game-message-input:not(.show) {
    opacity: 0.2;
    pointer-events: none;
}

#INFT574-game-message-input > input {
    border: none;
    outline: none;
    padding: 16px;
    flex-grow: 1;
    box-shadow: 1px 1px 4px 0px #000;
    border-radius: 2px;
}

#INFT574-game-message-input > button {
    display: none;
    pointer-events: none;
}