.app-chat-messages {
    top: 96px;
    left: 50%;
    width: calc(100% - 48px);
    bottom: 96px;
    display: block;
    padding: 4px;
    position: fixed;
    max-width: 800px;
    transform: translateX(-50%);
    overflow-y: scroll;
    overflow-x: hidden;
};