.app-chat-messages {
    top: 96px !important;
    left: 50% !important;
    width: calc(100% - 48px) !important;
    bottom: 96px !important;
    display: block !important;
    padding: 4px !important;
    position: fixed !important;
    max-width: 800px !important;
    transform: translateX(-50%) !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}