.app-chat-input {
    left: 50% !important;
    width: calc(100% - 24px) !important;
    bottom: 24px !important;
    padding: 4px !important;
    display: flex !important;
    position: fixed !important;
    max-width: 800px !important;
    transform: translateX(-50%) !important;
    padding-left: 24px !important;
    background-color: #0084ff !important;
}

.app-chat-input * {
    color: #fff !important;
}