.app-chat-message {
    padding: 8px 16px !important;
    position: relative !important;
    max-width: 300px !important;
    margin-bottom: 9px !important;
    padding-bottom: 16px !important;
}

.app-chat-message.left {
    left: 0px !important;
}

.app-chat-message.right {
    left: 100% !important;
    color: #fff !important;
    transform: translateX(-100%) !important;
    text-align: right !important;
    background-color: #0084ff !important;
}

.app-chat-message > *:nth-child(1) {
    opacity: 0.5 !important;
    margin-bottom: 8px !important;
}