.app-chat-message {
    padding: 8px 16px;
    position: relative;
    max-width: 300px;
    margin-bottom: 9px;
    padding-bottom: 16px;
}

.app-chat-message.left {
    left: 0px;
}

.app-chat-message.right {
    left: 100%;
    color: #fff;
    transform: translateX(-100%);
    text-align: right;
    background-color: #0084ff;
}

.app-chat-message > *:nth-child(1) {
    opacity: 0.5;
    margin-bottom: 8px;
}