.app-chat-input {
    left: 50% ;
    width: calc(100% - 24px);
    bottom: 24px;
    padding: 4px;
    display: flex;
    position: fixed;
    max-width: 800px;
    transform: translateX(-50%);
    padding-left: 24px;
    background-color: #0084ff !important;
}

.app-chat-input * {
    color: #fff !important;
}