.app-chat-head {
    top: 24px !important;
    left: 50% !important;
    width: calc(100% - 24px) !important;
    padding: 4px !important;
    display: flex !important;
    position: fixed !important;
    max-width: 800px !important;
    align-items: center !important;
    transform: translateX(-50%) !important;
}